<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/login-nav.ejs') %>
    <main class="container-fluid">
        <div class="row mt-5">
            <div class="col">
            <img src="https://res.cloudinary.com/dmkct6wfu/image/upload/v1634868222/800px-1937_world_map__Winkel_tripel_projection_.svg_ackrnb.png" class="img-fluid" alt="Winkel Tripel Projection Globe">
            </div>

            <div class="col">
                <h1>Sign Up</h1>
                <h4>This is really a demo and always will be.</h4>
                <form action="POST" class="">          
                <div class="form-floating mb-3 me-2">
                    <input class="form-control" type="text" id="username" placeholder aria-label="Username">
                    <label for="username" class="form-label">Your Username</label>
                </div>
                <div class="form-floating mb-3 me-2">
                    <input class="form-control" type="email" id="login-email" placeholder aria-label="Email">
                    <label for="login-email" class="form-label">Your Email</label>
                </div>
                <div class="form-floating mb-3 me-2">
                    <input class="form-control" type="password" id="login-password" placeholder aria-label="Password">
                    <label for="login-password" class="form-label">New Password</label>
                </div>
                <div class="col-auto mb-2" >
                    <label></label>
                    <input class="btn btn-primary" type="submit" value="Sign Up">
                </div>
                </form>
            </div>
        </div>

    </main>
</body>
