<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OpenBook</a>

         <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Email" aria-label="Email">
            <input class="form-control me-2" type="search" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
        </form>

    </div>
    </nav>
</header>