<%- include('../includes/head.ejs') %>
</head>

<body>
  

  <main class="container-fluid">
    <%- include('../includes/nav.ejs')%>
    <div class="row flex-nowrap">
        <%- include('../includes/sidebar')%>
        <section class="col py-3">
            <h1>Hi!</h1>
        </section>
    </div>
    

  </main>


  <%- include('../includes/end') %>